@{
    ViewData["Title"] = "UNIVERSIDAD DEL FUTURO";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la plataforma Universidad del Futuro</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
